<html lang="en">

<head>
    <title>{{ pageTitle }}</title>


    <link href='css/main.css' rel='stylesheet' />


    {{#if loginCSS}}
    <link href='css/login.css' rel='stylesheet' />
    {{/if}}

    {{#if mainpageCSS}}
    <link href='/css/mainpage.css' rel='stylesheet' type="text/css" />
    {{/if}}
</head>

<body>
    {{{ body }}}
</body>

</html>